#user {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-border-color: rgba(0,0,0,0.8);;
    -fx-border-width: 2px;
    -fx-text-fill: #1abc9c;
    -fx-prompt-text-fill: #95a5a6;
    -fx-highlight-fill: #0a3d62;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #95a5a6;
}

#user:focused {
    -fx-border-color: #1abc9c;
}
