.imagePane{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 90% 100%;
    -fx-background-position: center center;
}

.background {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-border-color: black;
    -fx-border-size: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0,0);
}