.imagePane{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 90% 100%;
    -fx-background-position: center center;
}

.background {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-border-color: black;
    -fx-border-size: 3px;
}