.text-area {
    -fx-background-color: transparent;
    -fx-font-alignment: center;
    -fx-text-fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-font-alignment: center;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-font-alignment: center;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-font-alignment: center;
}
.titleText
{
    -fx-fill: white;
    -fx-font-size: 23;
}