.root {
    -fx-font-size: 17px;
    -fx-background-color: derive(#000000, 25%);
    -fx-background-image:  url("../adrenaline_blur.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#user {
    -fx-background-color: rgba(0,0,0,0.8);
    -fx-text-fill: #1abc9c;
    -fx-prompt-text-fill: #95a5a6;
    -fx-highlight-fill: #1abc9c;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#label {
    -fx-font-size: 20px;
    -fx-text-fill: #ecf0f1;
}

#button {
    -fx-background-color: #0a3d62;
    -fx-text-fill: #dfe6e9;
}

#button:hover {
    -fx-background-color: #004D40;
}
