.root {
    -fx-font-size: 18px;
    -fx-background-image:  url("../adrenaline_blur.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#label {
    -fx-font-size: 30px;
    -fx-text-fill: #ecf0f1;
}

.button {
    -fx-background-color: #0a3d62;
    -fx-text-fill: #dfe6e9;
}

.button:hover {
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}

.button:pressed {
    -fx-scale-x: 1.10;
    -fx-scale-y: 1.10;
}


.mapLabel{
    -fx-text-fill: #1abc9c;
}
.buttonSkullHover, .buttonSkullHover:hover .mapLabel:hover {
    -fx-scale-x: 1.20;
    -fx-scale-y: 1.20;
}

.rounded
{

}